*{
    font-family: "Inter";
    box-sizing: border-box;
    margin: 0;
    transition: 0.3s;
    text-align: center;
}

body{ 
    background-color: rgb( 20, 20, 20);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jessica{
    width: 5.5rem;
    border-radius: 50%;
    margin-bottom: 1.1rem;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    padding: 2.5rem;
    border-radius: 1rem;
    color: white;
    background-color: rgb(31, 31, 31);
    width: 24rem;
}

.randall{
    font-size: 1.5rem;
    font-weight: 600;
}

.place{
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    font-size: 0.875rem
}

.developer{
    font-size: 0.875rem;
    margin-top: 1.15rem;
    margin-bottom: 0.85rem;
    font-weight: 400;
}

.links{
    font-size: 0.875rem;
    padding-top: 1.02rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.94rem;
    background-color: hsl(0, 0%, 20%);
    border-radius: 0.5rem;
    width: 100%;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.links:hover{
    color: black;
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
}

@media (max-width: 420px){
    .main{
        width: 90%;
    }
}